pip install scikit-learn
pip install beautifulsoup4
pip install networkx
pip install pandas
pip install regex
pip install streamlit
pip install nltk
pip install numpy
pip install base64
pip install validator
pip install request2
pip install lxml